# Anchor
.anchor
.DS_Store
target
**/*.rs.bk

# Antegen
bin/
lib/
.env
antegen.toml

# Docker
docker-target

# Solana
.DS_Store
**/node_modules
**/dist
**/build
**/target
**/test-ledger
**/tsconfig.tsbuildinfo
*.diff
**/keypair.json
**/*.log
**/.coderrect

# Local cargo config (machine-specific patches)
.cargo/config.toml
