[package]
name = "antegen"
version = { workspace = true }
authors = { workspace = true }
repository = { workspace = true }
homepage = { workspace = true }
license = { workspace = true }
edition = { workspace = true }
readme = { workspace = true }
keywords = { workspace = true }

[lib]
name = "antegen"
path = "src/lib.rs"

[profile.release]
overflow-checks = true
lto = "fat"
codegen-units = 1
 
[profile.release.build-override]
opt-level = 3
incremental = false
codegen-units = 1

[workspace]
resolver = "2"
members = [
    "cli",
    "cron",
    "plugin",
    "programs/thread",
    "programs/network",
    "sdk",
    "utils"
]

[workspace.package]
version = "2.1.1"
authors = ["Antegen Maintainers <maintainers@antegen.xyz>"]
repository = "https://github.com/wuwei-labs/antegen"
homepage = "https://antegen.xyz/"
documentation = "https://docs.antegen.xyz/"
license = "MIT"
edition = "2021"
readme = "./README.md"
keywords = ["solana"]

[workspace.dependencies]
solana-cron = { path = "cron" }
antegen-utils = { path = "utils" }
antegen-plugin-utils= { path = "plugin/utils" }
antegen-thread-program = { path = "programs/thread", features = ["no-entrypoint"] }
antegen-network-program = { path = "programs/network", features = ["no-entrypoint"] }

anchor-lang = { git = "https://github.com/coral-xyz/anchor", rev = "6df05aa5b5d9971041e3d25a246d935252b6e576" }
anchor-spl = { features = ["mint", "token"], git = "https://github.com/coral-xyz/anchor", rev = "6df05aa5b5d9971041e3d25a246d935252b6e576" }

agave-geyser-plugin-interface = { version = "=2.1.13" }
anyhow = { version = "1.0.94" }
async_once = { version = "0.2.6" }
async-trait = { version = "0.1.83" }
base64 = { version = "0.22.1" }
bincode = { version = "1.3.3" }
bs58 = { version = "0.5.1" }
bugsnag = { version = "0.2.1" }
bzip2 = { version = "0.5.0" }
chrono = { version = "0.4.39", default-features = false, features = ["alloc"] }
clap = { version = "4.5.23", features = ["derive"] }
dirs-next = { version = "2.0.0" }
futures = { version = "0.3.31" }
indicatif = { version = "0.17" }
lazy_static = { version = "1.5.0" }
log = { version = "0.4" }
nom = { version = "7.1.3" }
once_cell = { version = "1.20.2" }
prost = { version = "0.12.3" }
pyth-sdk-solana = { version = "0.10" }
reqwest = { version = "0.11.20", features = ["blocking", "json"] }
serde = { version = "1.0.216" }
serde_json = { version = "1.0.133" }
serde_yaml = { version = "0.9.34" }
simple-error = { version = "0.3.1" }
solana-account-decoder = { version = "=2.1.13" }
solana-clap-utils = { version = "=2.1.13" }
solana-cli-config = { version = "=2.1.13" }
solana-client = { version = "=2.1.13" }
solana-logger = { version = "=2.1.13" }
solana-program = { version = "=2.1.13" }
solana-quic-client = { version = "=2.1.13" }
solana-sdk = { version = "=2.1.13" }
solana-transaction-status = { version = "=2.1.13" }
spl-associated-token-account = { version = "6.0.0" }
spl-memo = { version = "6.0.0" }
spl-token = { version = "7.0.0" }
static-pubkey = { version = "1.0.3" }
tar = { version = "0.4" }
termcolor = { version = "1.4.1" }
terminal-link = { version = "0.1.0" }
thiserror = { version = "2.0.7" }
toml_datetime = { version = "0.6.8" }
tokio = { version = "1.29.1" }
version = { version = "3.0.0" }
winnow = { version = "0.4.1" }
